## Python (subset of gitignore useful to us)
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## NodeJS  (subset of gitignore useful to us)
# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

## Client Secrets
client_*.json